<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.g2bplatform.mapper.DataDownloadMapper">

    <!-- 물품 계약정보(ContractInfo) 저장 -->
    <insert id="insertContractInfoBatch" parameterType="java.util.List">
        INSERT INTO contract_info_list_thing (
        unty_cntrct_no, bsns_div_nm, dcsn_cntrct_no, cntrct_ref_no, cntrct_nm, cmmn_cntrct_yn,
        lngtrm_ctnu_div_nm, cntrct_cncls_date, cntrct_prd, base_law_nm, tot_cntrct_amt, thtm_cntrct_amt,
        grntymny_rate, cntrct_info_url, pay_div_nm, req_no, ntce_no, cntrct_instt_cd, cntrct_instt_nm,
        cntrct_instt_jrsdctn_div_nm, cntrct_instt_chrg_dept_nm, cntrct_instt_ofcl_nm,
        cntrct_instt_ofcl_tel_no, cntrct_instt_ofcl_fax_no, dminstt_list, corp_list, cntrct_dtl_info_url,
        crdtr_nm, base_dtls, cntrct_cncls_mthd_nm, rgst_dt, chg_dt, dfrcmpnst_rt, link_instt_nm,
        d2b_mng_cntrct_sttus_nm, d2b_mng_prearng_amt, d2b_mng_bid_mthd_nm, d2b_mng_dcsn_no,
        pub_prcrmnt_lrg_clsfc_nm, pub_prcrmnt_mid_clsfc_nm, pub_prcrmnt_clsfc_no, pub_prcrmnt_clsfc_nm,
        cntrct_date, info_biz_yn, cntrctNo, chgCnt, yyyymm
        )
        VALUES
        <foreach collection="contractInfos" item="info" separator=",">
            (#{info.untyCntrctNo}, #{info.bsnsDivNm}, #{info.dcsnCntrctNo}, #{info.cntrctRefNo}, #{info.cntrctNm},
            #{info.cmmnCntrctYn}, #{info.lngtrmCtnuDivNm}, #{info.cntrctCnclsDate}, #{info.cntrctPrd}, #{info.baseLawNm},
            #{info.totCntrctAmt}, #{info.thtmCntrctAmt}, #{info.grntymnyRate}, #{info.cntrctInfoUrl}, #{info.payDivNm},
            #{info.reqNo}, #{info.ntceNo}, #{info.cntrctInsttCd}, #{info.cntrctInsttNm}, #{info.cntrctInsttJrsdctnDivNm},
            #{info.cntrctInsttChrgDeptNm}, #{info.cntrctInsttOfclNm}, #{info.cntrctInsttOfclTelNo}, #{info.cntrctInsttOfclFaxNo},
            #{info.dminsttList}, #{info.corpList}, #{info.cntrctDtlInfoUrl}, #{info.crdtrNm}, #{info.baseDtls},
            #{info.cntrctCnclsMthdNm}, #{info.rgstDt}, #{info.chgDt}, #{info.dfrcmpnstRt}, #{info.linkInsttNm},
            #{info.d2bMngCntrctSttusNm}, #{info.d2bMngPrearngAmt}, #{info.d2bMngBidMthdNm}, #{info.d2bMngDcsnNo},
            #{info.pubPrcrmntLrgClsfcNm}, #{info.pubPrcrmntMidClsfcNm}, #{info.pubPrcrmntClsfcNo}, #{info.pubPrcrmntClsfcNm},
            #{info.cntrctDate}, #{info.infoBizYn}, SUBSTRING(#{info.cntrctRefNo}, 1, LENGTH(#{info.cntrctRefNo}) - 2),
            RIGHT(#{info.cntrctRefNo}, 2), DATE_FORMAT(#{info.rgstDt}, '%Y%m')
            )
        </foreach>
    </insert>

    <!-- 물품 계약정보상세(ContractInfoDetail) 저장 -->
    <insert id="insertContractInfoDetailBatch" parameterType="java.util.List">
        INSERT INTO contract_info_detail_list_thing (
        cntrct_cncls_date, unty_cntrct_no, dcsn_cntrct_no, cntrct_ref_no, prdct_clsfc_no,
        prdct_idnt_no, prdct_clsfc_no_nm, krn_prdct_nm, orgplce_cd, orgplce_nm, qty_uprc_amt,
        prdct_qty, prdct_amt, dlvry_cndtn_cd, dlvry_cndtn_nm, dlvr_daynum, dlvr_tmlmt,
        rgst_dt, chg_dt, yyyymm
        )
        VALUES
        <foreach collection="contractInfoDetails" item="detail" separator=",">
            (#{detail.cntrctCnclsDate}, #{detail.untyCntrctNo}, #{detail.dcsnCntrctNo}, #{detail.cntrctRefNo},
            #{detail.prdctClsfcNo},
            #{detail.prdctIdntNo}, #{detail.prdctClsfcNoNm}, #{detail.krnPrdctNm}, #{detail.orgplceCd},
            #{detail.orgplceNm},
            #{detail.qtyUprcAmt}, #{detail.prdctQty}, #{detail.prdctAmt}, #{detail.dlvryCndtnCd},
            #{detail.dlvryCndtnNm},
            #{detail.dlvrDaynum}, #{detail.dlvrTmlmt}, #{detail.rgstDt}, #{detail.chgDt}, DATE_FORMAT(#{detail.rgstDt},'%Y%m')
            )
        </foreach>
    </insert>

    <!-- 공사 계약정보(ContractInfoCnstwk) 저장 -->
    <insert id="insertContractInfoCnstwkBatch" parameterType="java.util.List">
        INSERT INTO contract_info_construction_work (
        unty_cntrct_no, bsns_div_nm, dcsn_cntrct_no, cntrct_ref_no, cnstwk_nm,
        cmmn_cntrct_yn, lngtrm_ctnu_div_nm, cntrct_cncls_date, cntrct_prd, base_law_nm,
        tot_cntrct_amt, thtm_cntrct_amt, grntymny_rate, cntrct_info_url, pay_div_nm,
        req_no, ntce_no, cntrct_instt_cd, cntrct_instt_nm, cntrct_instt_jrsdctn_div_nm,
        cntrct_instt_chrg_dept_nm, cntrct_instt_ofcl_nm, cntrct_instt_ofcl_tel_no, cntrct_instt_ofcl_fax_no,
        dminstt_list, corp_list, cntrct_dtl_info_url, crdtr_nm, base_dtls,
        cntrct_cncls_mthd_nm, prces_change_apl_bss_cd, prces_change_apl_bss_nm, rgst_dt, chg_dt,
        dfrcmpnst_rt, cbgn_date, thtm_ccmplt_date, ttal_ccmplt_date, link_instt_nm,
        d2b_mng_cntrct_sttus_nm, d2b_mng_prearng_amt, d2b_mng_bid_mthd_nm, d2b_mng_cnstwk_no,
        pub_prcrmnt_lrgclsfc_nm, pub_prcrmnt_midclsfc_nm, pub_prcrmnt_clsfc_no, pub_prcrmnt_clsfc_nm,
        cntrct_date, yyyymm
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.untyCntrctNo}, #{item.bsnsDivNm}, #{item.dcsnCntrctNo}, #{item.cntrctRefNo}, #{item.cnstwkNm},
            #{item.cmmnCntrctYn}, #{item.lngtrmCtnuDivNm}, #{item.cntrctCnclsDate}, #{item.cntrctPrd}, #{item.baseLawNm},
            #{item.totCntrctAmt}, #{item.thtmCntrctAmt}, #{item.grntymnyRate}, #{item.cntrctInfoUrl}, #{item.payDivNm},
            #{item.reqNo}, #{item.ntceNo}, #{item.cntrctInsttCd}, #{item.cntrctInsttNm}, #{item.cntrctInsttJrsdctnDivNm},
            #{item.cntrctInsttChrgDeptNm}, #{item.cntrctInsttOfclNm}, #{item.cntrctInsttOfclTelNo}, #{item.cntrctInsttOfclFaxNo},
            #{item.dminsttList}, #{item.corpList}, #{item.cntrctDtlInfoUrl}, #{item.crdtrNm}, #{item.baseDtls},
            #{item.cntrctCnclsMthdNm}, #{item.prcesChangeAplBssCd}, #{item.prcesChangeAplBssNm}, #{item.rgstDt}, #{item.chgDt},
            #{item.dfrcmpnstRt}, #{item.cbgnDate}, #{item.thtmCcmpltDate}, #{item.ttalCcmpltDate}, #{item.linkInsttNm},
            #{item.d2bMngCntrctSttusNm}, #{item.d2bMngPrearngAmt}, #{item.d2bMngBidMthdNm}, #{item.d2bMngCnstwkNo},
            #{item.pubPrcrmntLrgClsfcNm}, #{item.pubPrcrmntMidClsfcNm}, #{item.pubPrcrmntClsfcNo}, #{item.pubPrcrmntClsfcNm},
            #{item.cntrctDate}, DATE_FORMAT(#{item.rgstDt},'%Y%m')
            )
        </foreach>
    </insert>

    <!-- 용역 계약정보(ContractInfoServc) 저장 -->
    <insert id="insertContractInfoServcBatch" parameterType="java.util.List">
        INSERT INTO contract_info_service (
        unty_cntrct_no, bsns_div_nm, dcsn_cntrct_no, cntrct_ref_no, cntrct_nm,
        cmmn_cntrct_yn, lngtrm_ctnu_div_nm, cntrct_cncls_date, cntrct_prd, base_law_nm,
        tot_cntrct_amt, thtm_cntrct_amt, grntymny_rate, cntrct_info_url, pay_div_nm,
        req_no, ntce_no, cntrct_instt_cd, cntrct_instt_nm, cntrct_instt_jrsdctn_div_nm,
        cntrct_instt_chrg_dept_nm, cntrct_instt_ofcl_nm, cntrct_instt_ofcl_tel_no, cntrct_instt_ofcl_fax_no,
        dminstt_list, corp_list, cntrct_dtl_info_url, crdtr_nm, base_dtls,
        cntrct_cncls_mthd_nm, rgst_dt, chg_dt, dfrcmpnst_rt, wbgn_date,
        thtm_scmplt_date, ttal_scmplt_date, link_instt_nm, d2b_mng_cntrct_sttus_nm, d2b_mng_prearng_amt,
        d2b_mng_bid_mthd_nm, d2b_mng_dcsn_no, d2b_mng_cnstwk_no, pub_prcrmnt_lrgclsfc_nm, pub_prcrmnt_midclsfc_nm,
        pub_prcrmnt_clsfc_no, pub_prcrmnt_clsfc_nm, cntrct_date, info_biz_yn, yyyymm
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.untyCntrctNo}, #{item.bsnsDivNm}, #{item.dcsnCntrctNo}, #{item.cntrctRefNo}, #{item.cntrctNm},
            #{item.cmmnCntrctYn}, #{item.lngtrmCtnuDivNm}, #{item.cntrctCnclsDate}, #{item.cntrctPrd}, #{item.baseLawNm},
            #{item.totCntrctAmt}, #{item.thtmCntrctAmt}, #{item.grntymnyRate}, #{item.cntrctInfoUrl}, #{item.payDivNm},
            #{item.reqNo}, #{item.ntceNo}, #{item.cntrctInsttCd}, #{item.cntrctInsttNm}, #{item.cntrctInsttJrsdctnDivNm},
            #{item.cntrctInsttChrgDeptNm}, #{item.cntrctInsttOfclNm}, #{item.cntrctInsttOfclTelNo}, #{item.cntrctInsttOfclFaxNo},
            #{item.dminsttList}, #{item.corpList}, #{item.cntrctDtlInfoUrl}, #{item.crdtrNm}, #{item.baseDtls},
            #{item.cntrctCnclsMthdNm}, #{item.rgstDt}, #{item.chgDt}, #{item.dfrcmpnstRt}, #{item.wbgnDate},
            #{item.thtmScmpltDate}, #{item.ttalScmpltDate}, #{item.linkInsttNm}, #{item.d2bMngCntrctSttusNm}, #{item.d2bMngPrearngAmt},
            #{item.d2bMngBidMthdNm}, #{item.d2bMngDcsnNo}, #{item.d2bMngCnstwkNo}, #{item.pubPrcrmntLrgClsfcNm}, #{item.pubPrcrmntMidClsfcNm},
            #{item.pubPrcrmntClsfcNo}, #{item.pubPrcrmntClsfcNm}, #{item.cntrctDate}, #{item.infoBizYn}, #{item.yyyymm}
            )
        </foreach>
    </insert>

</mapper>
