<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.g2bplatform.mapper.DataMapper">
    <!-- 페이징 및 검색 조건이 포함된 데이터 조회 -->
    <select id="getThingsData" resultType="map">
        WITH RankedData AS (
            SELECT
                cilt.unty_cntrct_no,
                cilt.req_no,
                cilt.cntrct_date,
                cilt.thtm_cntrct_amt,
                cidlt.prdct_clsfc_no,
                cilt.cntrct_nm,
                cilt.dminstt_list,
                cilt.cntrct_instt_nm,
                cilt.cntrct_cncls_mthd_nm,
                cilt.ntce_no,
                cilt.cntrct_prd,
                cilt.base_dtls,
                cilt.corp_list,
                ROW_NUMBER() OVER (PARTITION BY cilt.req_no ORDER BY cilt.cntrct_date ASC) AS RowNum,
                    RANK() OVER (PARTITION BY cilt.req_no ORDER BY cilt.cntrct_date ASC) AS CntrctCnt,
                    RANK() OVER (PARTITION BY cilt.req_no ORDER BY cilt.cntrct_date DESC) AS ReverseRank
            FROM
                contract_info_list_thing cilt
                    INNER JOIN
                contract_info_detail_list_thing cidlt
                ON cidlt.unty_cntrct_no = cilt.unty_cntrct_no
            WHERE
                cidlt.prdct_clsfc_no IN ('39121103','39121189','41112498','41113319','39121801','39121104','39121101','39121006','46171622','41112501','39121198','43232499','81111599','39121106','41112407','21101593','60131303','43221733','41111938','39121011','43201802','47101516')
                <if test="dminsttNm != null and dminsttNm != ''">
                    AND cilt.dminstt_list LIKE CONCAT('%', #{dminsttNm}, '%')
                </if>
                <if test="dminsttNmDetail != null and dminsttNmDetail != ''">
                    AND cilt.cntrct_instt_nm LIKE CONCAT('%', #{dminsttNmDetail}, '%')
                </if>
                <if test="prdctClsfcNo != null and prdctClsfcNo != ''">
                    AND cidlt.prdct_clsfc_no LIKE CONCAT('%', #{prdctClsfcNo}, '%')
                </if>
                <if test="cntctCnclsMthdNm != null and cntctCnclsMthdNm != ''">
                    AND cilt.cntrct_cncls_mthd_nm LIKE CONCAT('%', #{cntctCnclsMthdNm}, '%')
                </if>
                <if test="firstCntrctDate != null and firstCntrctDate != ''">
                    AND DATE(cilt.cntrct_date) = #{firstCntrctDate}
                </if>

                <!-- 계약일자 조건 처리 -->
                <if test="year != null">
                    AND YEAR(cilt.cntrct_date) = #{year}
                </if>
                <if test="month != null and month != ''">
                    AND DATE_FORMAT(cilt.cntrct_date, '%Y-%m') = #{month}
                </if>
                <if test="rangeStart != null and rangeEnd != null">
                    AND DATE_FORMAT(cilt.cntrct_date, '%Y-%m') BETWEEN #{rangeStart} AND #{rangeEnd}
                </if>
        GROUP BY CILT.UNTY_CNTRCT_NO
        ),
             FirstData AS (
                 SELECT
                     req_no,
                     MIN(cntrct_date) AS FirstCntrctDate,
                     MIN(thtm_cntrct_amt) AS FirstCntrctAmt
                 FROM
                     RankedData
                 GROUP BY
                     req_no
             )
        SELECT
            SUBSTRING_INDEX(SUBSTRING_INDEX(rd.corp_list, '^', 4), '^', -1) AS cmpNm,
            rd.cntrct_nm AS cntrctNm,
            SUBSTRING_INDEX(SUBSTRING_INDEX(rd.dminstt_list, '^', 3), '^', -1) AS dminsttNm,
            rd.cntrct_instt_nm AS dminsttNmDetail,
            rd.prdct_clsfc_no AS prdctClsfcNo,
            rd.cntrct_cncls_mthd_nm AS cntctCnclsMthdNm,
            rd.ntce_no AS ntceNo,
            date_format(fd.FirstCntrctDate, '%Y-%m-%d') AS firstCntrctDate,
            fd.FirstCntrctAmt AS firstCntrctAmt,
            date_format(rd.cntrct_date, '%Y-%m-%d') AS cntrctDate,
            rd.thtm_cntrct_amt AS thtmCntrctAmt,
            rd.CntrctCnt AS cntrctCnt,
            CASE WHEN rd.ReverseRank = 1 THEN 'Y' ELSE 'N' END AS finalCntrctYn,
            rd.unty_cntrct_no,
            rd.req_no,
            rd.cntrct_prd,
            rd.base_dtls,
            REPLACE(SUBSTRING_INDEX(SUBSTRING_INDEX(rd.corp_list, '^', 10), '^', -1), ']', '') AS cmpNo
        FROM
            RankedData rd
                LEFT JOIN
            FirstData fd
            ON rd.req_no = fd.req_no
        ORDER BY
            rd.req_no DESC, rd.cntrct_date DESC
        LIMIT #{start}, #{length}
    </select>

    <!-- 전체 데이터 개수 조회 -->
    <select id="getThingsTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
        (
            WITH RankedData AS (
                SELECT
                    cilt.unty_cntrct_no,
                    cilt.req_no,
                    cilt.cntrct_date,
                    cilt.thtm_cntrct_amt,
                    cidlt.prdct_clsfc_no,
                    cilt.cntrct_nm,
                    cilt.dminstt_list,
                    cilt.cntrct_instt_nm,
                    cilt.cntrct_cncls_mthd_nm,
                    cilt.ntce_no,
                    cilt.cntrct_prd,
                    cilt.base_dtls,
                    cilt.corp_list,
                    ROW_NUMBER() OVER (PARTITION BY cilt.req_no ORDER BY cilt.cntrct_date ASC) AS RowNum,
                        RANK() OVER (PARTITION BY cilt.req_no ORDER BY cilt.cntrct_date ASC) AS CntrctCnt,
                        RANK() OVER (PARTITION BY cilt.req_no ORDER BY cilt.cntrct_date DESC) AS ReverseRank
                FROM
                    contract_info_list_thing cilt
                        INNER JOIN
                    contract_info_detail_list_thing cidlt
                    ON cidlt.unty_cntrct_no = cilt.unty_cntrct_no
                WHERE
                    cidlt.prdct_clsfc_no IN ('39121103','39121189','41112498','41113319','39121801','39121104','39121101','39121006','46171622','41112501','39121198','43232499','81111599','39121106','41112407','21101593','60131303','43221733','41111938','39121011','43201802','47101516')
                GROUP BY CILT.UNTY_CNTRCT_NO
            ),
                 FirstData AS (
                     SELECT
                         req_no,
                         MIN(cntrct_date) AS FirstCntrctDate,
                         MIN(thtm_cntrct_amt) AS FirstCntrctAmt
                     FROM
                         RankedData
                     GROUP BY
                         req_no
                 )
            SELECT
                SUBSTRING_INDEX(SUBSTRING_INDEX(rd.corp_list, '^', 4), '^', -1) AS cmpNm,
                rd.cntrct_nm AS cntrctNm,
                SUBSTRING_INDEX(SUBSTRING_INDEX(rd.dminstt_list, '^', 3), '^', -1) AS dminsttNm,
                rd.cntrct_instt_nm AS dminsttNmDetail,
                rd.prdct_clsfc_no AS prdctClsfcNo,
                rd.cntrct_cncls_mthd_nm AS cntctCnclsMthdNm,
                rd.ntce_no AS ntceNo,
                date_format(fd.FirstCntrctDate, '%Y-%m-%d') AS firstCntrctDate,
                fd.FirstCntrctAmt AS firstCntrctAmt,
                date_format(rd.cntrct_date, '%Y-%m-%d') AS cntrctDate,
                rd.thtm_cntrct_amt AS thtmCntrctAmt,
                rd.CntrctCnt AS cntrctCnt,
                CASE WHEN rd.ReverseRank = 1 THEN 'Y' ELSE 'N' END AS finalCntrctYn,
                rd.unty_cntrct_no,
                rd.req_no,
                rd.cntrct_prd,
                rd.base_dtls,
                REPLACE(SUBSTRING_INDEX(SUBSTRING_INDEX(rd.corp_list, '^', 10), '^', -1), ']', '') AS cmpNo
            FROM
                RankedData rd
                    LEFT JOIN
                FirstData fd
                ON rd.req_no = fd.req_no
            ORDER BY
                rd.req_no DESC, rd.cntrct_date DESC
        ) as T
    </select>

    <!-- 검색된 데이터 개수 조회 -->
    <select id="getThingsFilteredCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            (
                WITH RankedData AS (
                    SELECT
                        cilt.unty_cntrct_no,
                        cilt.req_no,
                        cilt.cntrct_date,
                        cilt.thtm_cntrct_amt,
                        cidlt.prdct_clsfc_no,
                        cilt.cntrct_nm,
                        cilt.dminstt_list,
                        cilt.cntrct_instt_nm,
                        cilt.cntrct_cncls_mthd_nm,
                        cilt.ntce_no,
                        cilt.cntrct_prd,
                        cilt.base_dtls,
                        cilt.corp_list,
                        ROW_NUMBER() OVER (PARTITION BY cilt.req_no ORDER BY cilt.cntrct_date ASC) AS RowNum,
                            RANK() OVER (PARTITION BY cilt.req_no ORDER BY cilt.cntrct_date ASC) AS CntrctCnt,
                            RANK() OVER (PARTITION BY cilt.req_no ORDER BY cilt.cntrct_date DESC) AS ReverseRank
                    FROM
                        contract_info_list_thing cilt
                            INNER JOIN
                        contract_info_detail_list_thing cidlt
                        ON cidlt.unty_cntrct_no = cilt.unty_cntrct_no
                    WHERE
                        cidlt.prdct_clsfc_no IN ('39121103','39121189','41112498','41113319','39121801','39121104','39121101','39121006','46171622','41112501','39121198','43232499','81111599','39121106','41112407','21101593','60131303','43221733','41111938','39121011','43201802','47101516')
                        <if test="dminsttNm != null and dminsttNm != ''">
                            AND cilt.dminstt_list LIKE CONCAT('%', #{dminsttNm}, '%')
                        </if>
                        <if test="dminsttNmDetail != null and dminsttNmDetail != ''">
                            AND cilt.cntrct_instt_nm LIKE CONCAT('%', #{dminsttNmDetail}, '%')
                        </if>
                        <if test="prdctClsfcNo != null and prdctClsfcNo != ''">
                            AND cidlt.prdct_clsfc_no LIKE CONCAT('%', #{prdctClsfcNo}, '%')
                        </if>
                        <if test="cntctCnclsMthdNm != null and cntctCnclsMthdNm != ''">
                            AND cilt.cntrct_cncls_mthd_nm LIKE CONCAT('%', #{cntctCnclsMthdNm}, '%')
                        </if>
                        <if test="firstCntrctDate != null and firstCntrctDate != ''">
                            AND DATE(cilt.cntrct_date) = #{firstCntrctDate}
                        </if>

                        <!-- 계약일자 조건 처리 -->
                        <if test="year != null">
                            AND YEAR(cilt.cntrct_date) = #{year}
                        </if>
                        <if test="month != null and month != ''">
                            AND DATE_FORMAT(cilt.cntrct_date, '%Y-%m') = #{month}
                        </if>
                        <if test="rangeStart != null and rangeEnd != null">
                            AND DATE_FORMAT(cilt.cntrct_date, '%Y-%m') BETWEEN #{rangeStart} AND #{rangeEnd}
                        </if>
                    GROUP BY CILT.UNTY_CNTRCT_NO
                ),
                     FirstData AS (
                         SELECT
                             req_no,
                             MIN(cntrct_date) AS FirstCntrctDate,
                             MIN(thtm_cntrct_amt) AS FirstCntrctAmt
                         FROM
                             RankedData
                         GROUP BY
                             req_no
                     )
                SELECT
                    SUBSTRING_INDEX(SUBSTRING_INDEX(rd.corp_list, '^', 4), '^', -1) AS cmpNm,
                    rd.cntrct_nm AS cntrctNm,
                    SUBSTRING_INDEX(SUBSTRING_INDEX(rd.dminstt_list, '^', 3), '^', -1) AS dminsttNm,
                    rd.cntrct_instt_nm AS dminsttNmDetail,
                    rd.prdct_clsfc_no AS prdctClsfcNo,
                    rd.cntrct_cncls_mthd_nm AS cntctCnclsMthdNm,
                    rd.ntce_no AS ntceNo,
                    date_format(fd.FirstCntrctDate, '%Y-%m-%d') AS firstCntrctDate,
                    fd.FirstCntrctAmt AS firstCntrctAmt,
                    date_format(rd.cntrct_date, '%Y-%m-%d') AS cntrctDate,
                    rd.thtm_cntrct_amt AS thtmCntrctAmt,
                    rd.CntrctCnt AS cntrctCnt,
                    CASE WHEN rd.ReverseRank = 1 THEN 'Y' ELSE 'N' END AS finalCntrctYn,
                    rd.unty_cntrct_no,
                    rd.req_no,
                    rd.cntrct_prd,
                    rd.base_dtls,
                    REPLACE(SUBSTRING_INDEX(SUBSTRING_INDEX(rd.corp_list, '^', 10), '^', -1), ']', '') AS cmpNo
                FROM
                    RankedData rd
                        LEFT JOIN
                    FirstData fd
                    ON rd.req_no = fd.req_no
                ORDER BY
                    rd.req_no DESC, rd.cntrct_date DESC
            ) as T
    </select>

    <select id="getServicesData" resultType="map">
        SELECT
        unty_cntrct_no,
        cntrct_nm,
        cntrct_prd,
        tot_cntrct_amt,
        thtm_cntrct_amt,
        cntrct_instt_nm,
        base_dtls,
        cntrct_cncls_mthd_nm,
        pub_prcrmnt_clsfc_nm,
        corp_list
        FROM
        contract_info_service
        WHERE
        1=1
        and pub_prcrmnt_clsfc_no in ('80161599','80161590','81111599','72101597','81111899')
        <if test="search != null and search != ''">
            AND (
            cntrct_nm LIKE CONCAT('%', #{search}, '%')
            OR cntrct_instt_nm LIKE CONCAT('%', #{search}, '%')
            )
        </if>
        LIMIT #{start}, #{length}
    </select>

    <!-- 전체 데이터 개수 조회 -->
    <select id="getServicesTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            contract_info_service
            where
                pub_prcrmnt_clsfc_no in ('80161599','80161590','81111599','72101597','81111899')
    </select>

    <!-- 검색된 데이터 개수 조회 -->
    <select id="getServicesFilteredCount" resultType="int">
        SELECT
        COUNT(*)
        FROM
        contract_info_service
        WHERE
        1=1
        and pub_prcrmnt_clsfc_no in ('80161599','80161590','81111599','72101597','81111899')
        <if test="search != null and search != ''">
            AND (
            cntrct_nm LIKE CONCAT('%', #{search}, '%')
            OR cntrct_instt_nm LIKE CONCAT('%', #{search}, '%')
            )
        </if>
    </select>

    <select id="getConstructionsData" resultType="map">
        SELECT
        unty_cntrct_no,
        cnstwk_nm as cntrct_nm,
        cntrct_prd,
        tot_cntrct_amt,
        thtm_cntrct_amt,
        cntrct_instt_nm,
        base_dtls,
        cntrct_cncls_mthd_nm,
        pub_prcrmnt_clsfc_nm,
        corp_list
        FROM
        contract_info_construction_work
        WHERE
        1=1
        and pub_prcrmnt_clsfc_no in ('72151597','72151699','72151295','72101507')
        <if test="search != null and search != ''">
            AND (
            cnstwk_nm LIKE CONCAT('%', #{search}, '%')
            OR cntrct_instt_nm LIKE CONCAT('%', #{search}, '%')
            )
        </if>
        LIMIT #{start}, #{length}
    </select>

    <!-- 전체 데이터 개수 조회 -->
    <select id="getConstructionsTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            contract_info_construction_work
        where pub_prcrmnt_clsfc_no in ('72151597','72151699','72151295','72101507')
    </select>

    <!-- 검색된 데이터 개수 조회 -->
    <select id="getConstructionsFilteredCount" resultType="int">
        SELECT
        COUNT(*)
        FROM
        contract_info_construction_work
        WHERE
        1=1
        and pub_prcrmnt_clsfc_no in ('72151597','72151699','72151295','72101507')
        <if test="search != null and search != ''">
            AND (
            cnstwk_nm LIKE CONCAT('%', #{search}, '%')
            OR cntrct_instt_nm LIKE CONCAT('%', #{search}, '%')
            )
        </if>
    </select>

    <!-- 탑인더스트리 데이터 -->
    <select id="getTopsData" resultType="map">
        SELECT
        unty_cntrct_no,
        cntrct_nm,
        cntrct_prd,
        tot_cntrct_amt,
        thtm_cntrct_amt,
        cntrct_instt_nm,
        base_dtls,
        cntrct_cncls_mthd_nm,
        pub_prcrmnt_clsfc_nm,
        corp_list
        FROM
        contract_info_list_thing
        WHERE
        1=1
        and RIGHT(corp_list, 11) IN ('1188117437]', '1188119624]')
        <if test="search != null and search != ''">
            AND (
            cntrct_nm LIKE CONCAT('%', #{search}, '%')
            OR cntrct_instt_nm LIKE CONCAT('%', #{search}, '%')
            )
        </if>
        UNION
        SELECT
        unty_cntrct_no,
        cntrct_nm,
        cntrct_prd,
        tot_cntrct_amt,
        thtm_cntrct_amt,
        cntrct_instt_nm,
        base_dtls,
        cntrct_cncls_mthd_nm,
        pub_prcrmnt_clsfc_nm,
        corp_list
        FROM
        contract_info_service
        WHERE
        1=1
        and RIGHT(corp_list, 11) IN ('1188117437]', '1188119624]')
        <if test="search != null and search != ''">
            AND (
            cntrct_nm LIKE CONCAT('%', #{search}, '%')
            OR cntrct_instt_nm LIKE CONCAT('%', #{search}, '%')
            )
        </if>
        UNION
        SELECT
        unty_cntrct_no,
        cnstwk_nm as cntrct_nm,
        cntrct_prd,
        tot_cntrct_amt,
        thtm_cntrct_amt,
        cntrct_instt_nm,
        base_dtls,
        cntrct_cncls_mthd_nm,
        pub_prcrmnt_clsfc_nm,
        corp_list
        FROM
        contract_info_construction_work
        WHERE
        1=1
        and RIGHT(corp_list, 11) IN ('1188117437]', '1188119624]')
        <if test="search != null and search != ''">
            AND (
            cnstwk_nm LIKE CONCAT('%', #{search}, '%')
            OR cntrct_instt_nm LIKE CONCAT('%', #{search}, '%')
            )
        </if>
        LIMIT #{start}, #{length}
    </select>

    <!-- 전체 데이터 개수 조회 -->
    <select id="getTopsTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            (SELECT
        unty_cntrct_no,
        cntrct_nm,
        cntrct_prd,
        tot_cntrct_amt,
        thtm_cntrct_amt,
        cntrct_instt_nm,
        base_dtls,
        cntrct_cncls_mthd_nm,
        pub_prcrmnt_clsfc_nm,
        corp_list
        FROM
        contract_info_list_thing
        WHERE
        1=1
        and RIGHT(corp_list, 11) IN ('1188117437]', '1188119624]')
        UNION
        SELECT
        unty_cntrct_no,
        cntrct_nm,
        cntrct_prd,
        tot_cntrct_amt,
        thtm_cntrct_amt,
        cntrct_instt_nm,
        base_dtls,
        cntrct_cncls_mthd_nm,
        pub_prcrmnt_clsfc_nm,
        corp_list
        FROM
        contract_info_service
        WHERE
        1=1
        and RIGHT(corp_list, 11) IN ('1188117437]', '1188119624]')
        UNION
        SELECT
        unty_cntrct_no,
        cnstwk_nm as cntrct_nm,
        cntrct_prd,
        tot_cntrct_amt,
        thtm_cntrct_amt,
        cntrct_instt_nm,
        base_dtls,
        cntrct_cncls_mthd_nm,
        pub_prcrmnt_clsfc_nm,
        corp_list
        FROM
        contract_info_construction_work
        WHERE
        1=1
        and RIGHT(corp_list, 11) IN ('1188117437]', '1188119624]')
    ) as derived_table_alias
    </select>

    <!-- 검색된 데이터 개수 조회 -->
    <select id="getTopsFilteredCount" resultType="int">
        SELECT
        COUNT(*)
        FROM
        (
        SELECT
        unty_cntrct_no,
        cntrct_nm,
        cntrct_prd,
        tot_cntrct_amt,
        thtm_cntrct_amt,
        cntrct_instt_nm,
        base_dtls,
        cntrct_cncls_mthd_nm,
        pub_prcrmnt_clsfc_nm,
        corp_list
        FROM
        contract_info_list_thing
        WHERE
        1=1
        and RIGHT(corp_list, 11) IN ('1188117437]', '1188119624]')
        <if test="search != null and search != ''">
            AND (
            cntrct_nm LIKE CONCAT('%', #{search}, '%')
            OR cntrct_instt_nm LIKE CONCAT('%', #{search}, '%')
            )
        </if>
        UNION
        SELECT
        unty_cntrct_no,
        cntrct_nm,
        cntrct_prd,
        tot_cntrct_amt,
        thtm_cntrct_amt,
        cntrct_instt_nm,
        base_dtls,
        cntrct_cncls_mthd_nm,
        pub_prcrmnt_clsfc_nm,
        corp_list
        FROM
        contract_info_service
        WHERE
        1=1
        and RIGHT(corp_list, 11) IN ('1188117437]', '1188119624]')
        <if test="search != null and search != ''">
            AND (
            cntrct_nm LIKE CONCAT('%', #{search}, '%')
            OR cntrct_instt_nm LIKE CONCAT('%', #{search}, '%')
            )
        </if>
        UNION
        SELECT
        unty_cntrct_no,
        cnstwk_nm as cntrct_nm,
        cntrct_prd,
        tot_cntrct_amt,
        thtm_cntrct_amt,
        cntrct_instt_nm,
        base_dtls,
        cntrct_cncls_mthd_nm,
        pub_prcrmnt_clsfc_nm,
        corp_list
        FROM
        contract_info_construction_work
        WHERE
        1=1
        and RIGHT(corp_list, 11) IN ('1188117437]', '1188119624]')
        <if test="search != null and search != ''">
            AND (
            cnstwk_nm LIKE CONCAT('%', #{search}, '%')
            OR cntrct_instt_nm LIKE CONCAT('%', #{search}, '%')
            )
        </if>
        ) as derived_table_alias
    </select>
</mapper>
