services:
    api:
        build:
            context: ./backend
        ports:
            - '8080:8080'
        restart: always
        volumes:
            - ./config/top-service-account.json:/app/config/top-service-account.json
            # 서버의 application.properties를 컨테이너에 마운트 (RDS 정보 등)
            - ./backend/src/main/resources/application.properties:/app/config/application.properties
        environment:
            # 컨테이너 내부 마운트 경로 사용 (호스트 경로 아님)
            - GOOGLE_SERVICE_ACCOUNT_KEY_PATH=/app/config/top-service-account.json

    web:
        build:
            context: ./frontend
        ports:
            - '80:80'
        restart: always
