<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.g2bplatform.mapper.DataMapper">

    <sql id="commonRankedData">
        WITH RankedData AS (
        SELECT
        cilt.unty_cntrct_no,
        cilt.req_no,
        cilt.cntrct_date,
        cilt.thtm_cntrct_amt,
        cidlt.prdct_clsfc_no,
        cilt.cntrct_nm,
        cilt.dminstt_list,
        cilt.cntrct_instt_nm,
        cilt.cntrct_cncls_mthd_nm,
        cilt.ntce_no,
        cilt.cntrct_prd,
        cilt.base_dtls,
        cilt.corp_list,
        ROW_NUMBER() OVER (
        PARTITION BY
        CASE
        WHEN cilt.req_no = '' THEN cilt.unty_cntrct_no -- req_no가 빈 값인 경우 고유 ID로 unty_cntrct_no를 사용
        ELSE cilt.req_no
        END
        ORDER BY cilt.cntrct_date ASC
        ) AS RowNum,
        RANK() OVER (
        PARTITION BY
        CASE
        WHEN cilt.req_no = '' THEN cilt.unty_cntrct_no
        ELSE cilt.req_no
        END
        ORDER BY cilt.cntrct_date ASC
        ) AS CntrctCnt,
        RANK() OVER (
        PARTITION BY
        CASE
        WHEN cilt.req_no = '' THEN cilt.unty_cntrct_no
        ELSE cilt.req_no
        END
        ORDER BY cilt.cntrct_date DESC
        ) AS ReverseRank
        FROM
        contract_info_list_thing cilt
        INNER JOIN
        contract_info_detail_list_thing cidlt
        ON cidlt.unty_cntrct_no = cilt.unty_cntrct_no
        WHERE
        cidlt.prdct_clsfc_no IN ('39121103','39121189','41112498','41113319','39121801','39121104','39121101','39121006','46171622','41112501','39121198','43232499','81111599','39121106','41112407','21101593','60131303','43221733','41111938','39121011','43201802','47101516')
        <if test="dminsttNm != null and dminsttNm != ''">
            AND cilt.dminstt_list LIKE CONCAT('%', #{dminsttNm}, '%')
        </if>
        <if test="dminsttNmDetail != null and dminsttNmDetail != ''">
            AND cilt.cntrct_instt_nm LIKE CONCAT('%', #{dminsttNmDetail}, '%')
        </if>
        <if test="prdctClsfcNo != null and prdctClsfcNo != ''">
            AND cidlt.prdct_clsfc_no LIKE CONCAT('%', #{prdctClsfcNo}, '%')
        </if>
        <if test="cntctCnclsMthdNm != null and cntctCnclsMthdNm != ''">
            AND cilt.cntrct_cncls_mthd_nm LIKE CONCAT('%', #{cntctCnclsMthdNm}, '%')
        </if>
        <if test="firstCntrctDate != null and firstCntrctDate != ''">
            AND DATE(cilt.cntrct_date) = #{firstCntrctDate}
        </if>

        <!-- 계약일자 조건 처리 -->
        <if test="year != null">
            AND YEAR(cilt.cntrct_date) = #{year}
        </if>
        <if test="month != null and month != ''">
            AND DATE_FORMAT(cilt.cntrct_date, '%Y-%m') = #{month}
        </if>
        <if test="rangeStart != null and rangeEnd != null">
            AND DATE_FORMAT(cilt.cntrct_date, '%Y-%m') BETWEEN #{rangeStart} AND #{rangeEnd}
        </if>
        )
    </sql>

    <sql id="commonFirstData">
        FirstData AS (
                 SELECT
                     req_no,
                     MIN(cntrct_date) AS FirstCntrctDate,
                     MIN(thtm_cntrct_amt) AS FirstCntrctAmt
                 FROM
                     RankedData
                GROUP BY
                    CASE
                    WHEN req_no = '' THEN unty_cntrct_no
                    ELSE req_no
                END
             )
    </sql>

    <sql id="commonLastData">
        LastData AS (
            SELECT
                CASE
                    WHEN req_no = '' THEN unty_cntrct_no
                    ELSE req_no
                END AS req_no,
                MAX(cntrct_date) AS LastCntrctDate,
                MAX(thtm_cntrct_amt) AS LastCntrctAmt,
                MAX(CntrctCnt) AS MaxCntrctCnt
            FROM
                RankedData
            GROUP BY
                CASE
                    WHEN req_no = '' THEN unty_cntrct_no
                    ELSE req_no
                END
        )
    </sql>

    <!-- 페이징 및 검색 조건이 포함된 데이터 조회 -->
    <select id="getThingsData" resultType="map">
        SELECT
            cmpNm as cmpNm,
            cntrctNm as cntrctNm,
            dminsttNm as dminsttNm,
            dminsttNmDetail as dminsttNmDetail,
            prdctClsfcNo as prdctClsfcNo,
            cntctCnclsMthdNm as cntctCnclsMthdNm,
            ntceNo as ntceNo,
            ifnull(date_format(firstCntrctDate, '%Y-%m-%d'),'-') as firstCntrctDate,
            firstCntrctAmt as firstCntrctAmt,
            ifnull(date_format(LastCntrctDate, '%Y-%m-%d'),'-') as cntrctDate,
            LastCntrctAmt as thtmCntrctAmt,
            LastCntrctCnt as cntrctCnt,
            id as id,
            checked as checked
        FROM
            daily_contracts_things
        WHERE
            1=1
        <if test="dminsttNm != null and dminsttNm != ''">
            AND dminsttNm LIKE CONCAT('%', #{dminsttNm}, '%')
        </if>
        <if test="dminsttNmDetail != null and dminsttNmDetail != ''">
            AND dminsttNmDetail LIKE CONCAT('%', #{dminsttNmDetail}, '%')
        </if>
        <if test="prdctClsfcNo != null and prdctClsfcNo != ''">
            AND prdctClsfcNo LIKE CONCAT('%', #{prdctClsfcNo}, '%')
        </if>
        <if test="cntctCnclsMthdNm != null and cntctCnclsMthdNm != ''">
            AND cntctCnclsMthdNm LIKE CONCAT('%', #{cntctCnclsMthdNm}, '%')
        </if>
        <if test="firstCntrctDate != null and firstCntrctDate != ''">
            AND firstCntrctDate = #{firstCntrctDate}
        </if>

        <!-- 계약일자 조건 처리 -->
        <if test="year != null">
            AND YEAR(firstCntrctDate) = #{year}
        </if>
        <if test="month != null and month != ''">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') = #{month}
        </if>
        <if test="rangeStart != null and rangeEnd != null">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') BETWEEN #{rangeStart} AND #{rangeEnd}
        </if>

        <if test="showSavedOnly == 1">
            AND checked = 1
        </if>
        ORDER BY
            firstCntrctDate DESC, id ASC
        LIMIT #{start}, #{length}
    </select>

    <!-- 전체 데이터 개수 조회 -->
    <select id="getThingsTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
        (
        SELECT
        *
        FROM
        daily_contracts_things
        ORDER BY
        firstCntrctDate DESC
        ) as T
    </select>

    <!-- 검색된 데이터 개수 조회 -->
    <select id="getThingsFilteredCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            (
        SELECT
            cmpNm as cmpNm,
            cntrctNm as cntrctNm,
            dminsttNm as dminsttNm,
            dminsttNmDetail as dminsttNmDetail,
            prdctClsfcNo as prdctClsfcNo,
            cntctCnclsMthdNm as cntctCnclsMthdNm,
            ntceNo as ntceNo,
            date_format(firstCntrctDate, '%Y-%m-%-d') as firstCntrctDate,
            firstCntrctAmt as firstCntrctAmt,
            date_format(LastCntrctDate, '%Y-%m-%-d') as cntrctDate,
            LastCntrctAmt as thtmCntrctAmt,
            LastCntrctCnt as cntrctCnt,
            id as id,
            checked as checked
        FROM
        daily_contracts_things
        WHERE
        1=1
        <if test="dminsttNm != null and dminsttNm != ''">
            AND dminsttNm LIKE CONCAT('%', #{dminsttNm}, '%')
        </if>
        <if test="dminsttNmDetail != null and dminsttNmDetail != ''">
            AND dminsttNmDetail LIKE CONCAT('%', #{dminsttNmDetail}, '%')
        </if>
        <if test="prdctClsfcNo != null and prdctClsfcNo != ''">
            AND prdctClsfcNo LIKE CONCAT('%', #{prdctClsfcNo}, '%')
        </if>
        <if test="cntctCnclsMthdNm != null and cntctCnclsMthdNm != ''">
            AND cntctCnclsMthdNm LIKE CONCAT('%', #{cntctCnclsMthdNm}, '%')
        </if>
        <if test="firstCntrctDate != null and firstCntrctDate != ''">
            AND firstCntrctDate = #{firstCntrctDate}
        </if>

        <!-- 계약일자 조건 처리 -->
        <if test="year != null">
            AND YEAR(firstCntrctDate) = #{year}
        </if>
        <if test="month != null and month != ''">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') = #{month}
        </if>
        <if test="rangeStart != null and rangeEnd != null">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') BETWEEN #{rangeStart} AND #{rangeEnd}
        </if>

        <if test="showSavedOnly == 1">
            AND checked = 1
        </if>
        ORDER BY
        firstCntrctDate DESC, id ASC
            ) as T
    </select>

    <select id="getServicesData" resultType="map">
        SELECT
        cmpNm as cmpNm,
        cntrctNm as cntrctNm,
        dminsttNm as dminsttNm,
        dminsttNmDetail as dminsttNmDetail,
        prdctClsfcNo as prdctClsfcNo,
        cntctCnclsMthdNm as cntctCnclsMthdNm,
        ntceNo as ntceNo,
        ifnull(date_format(firstCntrctDate, '%Y-%m-%d'),'-') as firstCntrctDate,
        firstCntrctAmt as firstCntrctAmt,
        ifnull(date_format(LastCntrctDate, '%Y-%m-%d'),'-') as cntrctDate,
        LastCntrctAmt as thtmCntrctAmt,
        LastCntrctCnt as cntrctCnt,
        id as id,
        checked as checked
        FROM
        daily_contracts_services
        WHERE
        1=1
        <if test="dminsttNm != null and dminsttNm != ''">
            AND dminsttNm LIKE CONCAT('%', #{dminsttNm}, '%')
        </if>
        <if test="dminsttNmDetail != null and dminsttNmDetail != ''">
            AND dminsttNmDetail LIKE CONCAT('%', #{dminsttNmDetail}, '%')
        </if>
        <if test="prdctClsfcNo != null and prdctClsfcNo != ''">
            AND prdctClsfcNo LIKE CONCAT('%', #{prdctClsfcNo}, '%')
        </if>
        <if test="cntctCnclsMthdNm != null and cntctCnclsMthdNm != ''">
            AND cntctCnclsMthdNm LIKE CONCAT('%', #{cntctCnclsMthdNm}, '%')
        </if>
        <if test="firstCntrctDate != null and firstCntrctDate != ''">
            AND firstCntrctDate = #{firstCntrctDate}
        </if>

        <!-- 계약일자 조건 처리 -->
        <if test="year != null">
            AND YEAR(firstCntrctDate) = #{year}
        </if>
        <if test="month != null and month != ''">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') = #{month}
        </if>
        <if test="rangeStart != null and rangeEnd != null">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') BETWEEN #{rangeStart} AND #{rangeEnd}
        </if>

        <if test="showSavedOnly == 1">
            AND checked = 1
        </if>
        ORDER BY
        firstCntrctDate DESC, id ASC
        LIMIT #{start}, #{length}
    </select>

    <!-- 전체 데이터 개수 조회 -->
    <select id="getServicesTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            daily_contracts_services
    </select>

    <!-- 검색된 데이터 개수 조회 -->
    <select id="getServicesFilteredCount" resultType="int">
        SELECT
        COUNT(*)
        FROM
        (
        SELECT
        cmpNm as cmpNm,
        cntrctNm as cntrctNm,
        dminsttNm as dminsttNm,
        dminsttNmDetail as dminsttNmDetail,
        prdctClsfcNo as prdctClsfcNo,
        cntctCnclsMthdNm as cntctCnclsMthdNm,
        ntceNo as ntceNo,
        date_format(firstCntrctDate, '%Y-%m-%-d') as firstCntrctDate,
        firstCntrctAmt as firstCntrctAmt,
        date_format(LastCntrctDate, '%Y-%m-%-d') as cntrctDate,
        LastCntrctAmt as thtmCntrctAmt,
        LastCntrctCnt as cntrctCnt,
        id as id,
        checked as checked
        FROM
        daily_contracts_services
        WHERE
        1=1
        <if test="dminsttNm != null and dminsttNm != ''">
            AND dminsttNm LIKE CONCAT('%', #{dminsttNm}, '%')
        </if>
        <if test="dminsttNmDetail != null and dminsttNmDetail != ''">
            AND dminsttNmDetail LIKE CONCAT('%', #{dminsttNmDetail}, '%')
        </if>
        <if test="prdctClsfcNo != null and prdctClsfcNo != ''">
            AND prdctClsfcNo LIKE CONCAT('%', #{prdctClsfcNo}, '%')
        </if>
        <if test="cntctCnclsMthdNm != null and cntctCnclsMthdNm != ''">
            AND cntctCnclsMthdNm LIKE CONCAT('%', #{cntctCnclsMthdNm}, '%')
        </if>
        <if test="firstCntrctDate != null and firstCntrctDate != ''">
            AND firstCntrctDate = #{firstCntrctDate}
        </if>

        <!-- 계약일자 조건 처리 -->
        <if test="year != null">
            AND YEAR(firstCntrctDate) = #{year}
        </if>
        <if test="month != null and month != ''">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') = #{month}
        </if>
        <if test="rangeStart != null and rangeEnd != null">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') BETWEEN #{rangeStart} AND #{rangeEnd}
        </if>

        <if test="showSavedOnly == 1">
            AND checked = 1
        </if>
        ORDER BY
        firstCntrctDate DESC
        ) as T
    </select>

    <select id="getConstructionsData" resultType="map">
        SELECT
        cmpNm as cmpNm,
        cntrctNm as cntrctNm,
        dminsttNm as dminsttNm,
        dminsttNmDetail as dminsttNmDetail,
        prdctClsfcNo as prdctClsfcNo,
        cntctCnclsMthdNm as cntctCnclsMthdNm,
        ntceNo as ntceNo,
        ifnull(date_format(firstCntrctDate, '%Y-%m-%d'),'-') as firstCntrctDate,
        firstCntrctAmt as firstCntrctAmt,
        ifnull(date_format(LastCntrctDate, '%Y-%m-%d'),'-') as cntrctDate,
        LastCntrctAmt as thtmCntrctAmt,
        LastCntrctCnt as cntrctCnt,
        id as id,
        checked as checked
        FROM
        daily_contracts_construction_work
        WHERE
        1=1
        <if test="dminsttNm != null and dminsttNm != ''">
            AND dminsttNm LIKE CONCAT('%', #{dminsttNm}, '%')
        </if>
        <if test="dminsttNmDetail != null and dminsttNmDetail != ''">
            AND dminsttNmDetail LIKE CONCAT('%', #{dminsttNmDetail}, '%')
        </if>
        <if test="prdctClsfcNo != null and prdctClsfcNo != ''">
            AND prdctClsfcNo LIKE CONCAT('%', #{prdctClsfcNo}, '%')
        </if>
        <if test="cntctCnclsMthdNm != null and cntctCnclsMthdNm != ''">
            AND cntctCnclsMthdNm LIKE CONCAT('%', #{cntctCnclsMthdNm}, '%')
        </if>
        <if test="firstCntrctDate != null and firstCntrctDate != ''">
            AND firstCntrctDate = #{firstCntrctDate}
        </if>

        <!-- 계약일자 조건 처리 -->
        <if test="year != null">
            AND YEAR(firstCntrctDate) = #{year}
        </if>
        <if test="month != null and month != ''">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') = #{month}
        </if>
        <if test="rangeStart != null and rangeEnd != null">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') BETWEEN #{rangeStart} AND #{rangeEnd}
        </if>

        <if test="showSavedOnly == 1">
            AND checked = 1
        </if>
        ORDER BY
        firstCntrctDate DESC, id ASC
        LIMIT #{start}, #{length}
    </select>

    <!-- 전체 데이터 개수 조회 -->
    <select id="getConstructionsTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            daily_contracts_construction_work
    </select>

    <!-- 검색된 데이터 개수 조회 -->
    <select id="getConstructionsFilteredCount" resultType="int">
        SELECT
        COUNT(*)
        FROM
        (
        SELECT
        cmpNm as cmpNm,
        cntrctNm as cntrctNm,
        dminsttNm as dminsttNm,
        dminsttNmDetail as dminsttNmDetail,
        prdctClsfcNo as prdctClsfcNo,
        cntctCnclsMthdNm as cntctCnclsMthdNm,
        ntceNo as ntceNo,
        date_format(firstCntrctDate, '%Y-%m-%-d') as firstCntrctDate,
        firstCntrctAmt as firstCntrctAmt,
        date_format(LastCntrctDate, '%Y-%m-%-d') as cntrctDate,
        LastCntrctAmt as thtmCntrctAmt,
        LastCntrctCnt as cntrctCnt,
        id as id,
        checked as checked
        FROM
        daily_contracts_construction_work
        WHERE
        1=1
        <if test="dminsttNm != null and dminsttNm != ''">
            AND dminsttNm LIKE CONCAT('%', #{dminsttNm}, '%')
        </if>
        <if test="dminsttNmDetail != null and dminsttNmDetail != ''">
            AND dminsttNmDetail LIKE CONCAT('%', #{dminsttNmDetail}, '%')
        </if>
        <if test="prdctClsfcNo != null and prdctClsfcNo != ''">
            AND prdctClsfcNo LIKE CONCAT('%', #{prdctClsfcNo}, '%')
        </if>
        <if test="cntctCnclsMthdNm != null and cntctCnclsMthdNm != ''">
            AND cntctCnclsMthdNm LIKE CONCAT('%', #{cntctCnclsMthdNm}, '%')
        </if>
        <if test="firstCntrctDate != null and firstCntrctDate != ''">
            AND firstCntrctDate = #{firstCntrctDate}
        </if>

        <!-- 계약일자 조건 처리 -->
        <if test="year != null">
            AND YEAR(firstCntrctDate) = #{year}
        </if>
        <if test="month != null and month != ''">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') = #{month}
        </if>
        <if test="rangeStart != null and rangeEnd != null">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') BETWEEN #{rangeStart} AND #{rangeEnd}
        </if>

        <if test="showSavedOnly == 1">
            AND checked = 1
        </if>
        ORDER BY
        firstCntrctDate DESC, id ASC
        ) as T
    </select>

    <!-- 탑인더스트리 데이터 -->
    <select id="getTopsData" resultType="map">
        SELECT
        type as type,
        cmpNm as cmpNm,
        cntrctNm as cntrctNm,
        dminsttNm as dminsttNm,
        dminsttNmDetail as dminsttNmDetail,
        prdctClsfcNo as prdctClsfcNo,
        cntctCnclsMthdNm as cntctCnclsMthdNm,
        ntceNo as ntceNo,
        ifnull(date_format(firstCntrctDate, '%Y-%m-%d'),'-') as firstCntrctDate,
        firstCntrctAmt as firstCntrctAmt,
        ifnull(date_format(LastCntrctDate, '%Y-%m-%d'),'-') as cntrctDate,
        LastCntrctAmt as thtmCntrctAmt,
        LastCntrctCnt as cntrctCnt,
        id as id,
        checked as checked
        FROM
        daily_top_datas
        WHERE
        1=1
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
        <if test="dminsttNm != null and dminsttNm != ''">
            AND dminsttNm LIKE CONCAT('%', #{dminsttNm}, '%')
        </if>
        <if test="dminsttNmDetail != null and dminsttNmDetail != ''">
            AND dminsttNmDetail LIKE CONCAT('%', #{dminsttNmDetail}, '%')
        </if>
        <if test="prdctClsfcNo != null and prdctClsfcNo != ''">
            AND prdctClsfcNo LIKE CONCAT('%', #{prdctClsfcNo}, '%')
        </if>
        <if test="cntctCnclsMthdNm != null and cntctCnclsMthdNm != ''">
            AND cntctCnclsMthdNm LIKE CONCAT('%', #{cntctCnclsMthdNm}, '%')
        </if>
        <if test="firstCntrctDate != null and firstCntrctDate != ''">
            AND firstCntrctDate = #{firstCntrctDate}
        </if>

        <!-- 계약일자 조건 처리 -->
        <if test="year != null">
            AND YEAR(firstCntrctDate) = #{year}
        </if>
        <if test="month != null and month != ''">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') = #{month}
        </if>
        <if test="rangeStart != null and rangeEnd != null">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') BETWEEN #{rangeStart} AND #{rangeEnd}
        </if>

        <if test="showSavedOnly == 1">
            AND checked = 1
        </if>
        ORDER BY
        firstCntrctDate DESC, id ASC
        LIMIT #{start}, #{length}
    </select>

    <!-- 전체 데이터 개수 조회 -->
    <select id="getTopsTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            (
                SELECT
                    *
                FROM
                    daily_top_datas
                ORDER BY
                    firstCntrctDate DESC
            ) as T
    </select>

    <!-- 검색된 데이터 개수 조회 -->
    <select id="getTopsFilteredCount" resultType="int">
        SELECT
        COUNT(*)
        FROM
        (
        SELECT
        type as type,
        cmpNm as cmpNm,
        cntrctNm as cntrctNm,
        dminsttNm as dminsttNm,
        dminsttNmDetail as dminsttNmDetail,
        prdctClsfcNo as prdctClsfcNo,
        cntctCnclsMthdNm as cntctCnclsMthdNm,
        ntceNo as ntceNo,
        date_format(firstCntrctDate, '%Y-%m-%-d') as firstCntrctDate,
        firstCntrctAmt as firstCntrctAmt,
        date_format(LastCntrctDate, '%Y-%m-%-d') as cntrctDate,
        LastCntrctAmt as thtmCntrctAmt,
        LastCntrctCnt as cntrctCnt,
        id as id,
        checked as checked
        FROM
        daily_top_datas
        WHERE
        1=1
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
        <if test="dminsttNm != null and dminsttNm != ''">
            AND dminsttNm LIKE CONCAT('%', #{dminsttNm}, '%')
        </if>
        <if test="dminsttNmDetail != null and dminsttNmDetail != ''">
            AND dminsttNmDetail LIKE CONCAT('%', #{dminsttNmDetail}, '%')
        </if>
        <if test="prdctClsfcNo != null and prdctClsfcNo != ''">
            AND prdctClsfcNo LIKE CONCAT('%', #{prdctClsfcNo}, '%')
        </if>
        <if test="cntctCnclsMthdNm != null and cntctCnclsMthdNm != ''">
            AND cntctCnclsMthdNm LIKE CONCAT('%', #{cntctCnclsMthdNm}, '%')
        </if>
        <if test="firstCntrctDate != null and firstCntrctDate != ''">
            AND firstCntrctDate = #{firstCntrctDate}
        </if>

        <!-- 계약일자 조건 처리 -->
        <if test="year != null">
            AND YEAR(firstCntrctDate) = #{year}
        </if>
        <if test="month != null and month != ''">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') = #{month}
        </if>
        <if test="rangeStart != null and rangeEnd != null">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') BETWEEN #{rangeStart} AND #{rangeEnd}
        </if>

        <if test="showSavedOnly == 1">
            AND checked = 1
        </if>
        ORDER BY
        firstCntrctDate DESC
        ) as T
    </select>

    <select id="getServicesSelectedData" resultType="map">
        SELECT
        cmpNm as cmpNm,
        cntrctNm as cntrctNm,
        dminsttNm as dminsttNm,
        dminsttNmDetail as dminsttNmDetail,
        prdctClsfcNo as prdctClsfcNo,
        cntctCnclsMthdNm as cntctCnclsMthdNm,
        ntceNo as ntceNo,
        ifnull(date_format(firstCntrctDate, '%Y-%m-%d'),'-') as firstCntrctDate,
        firstCntrctAmt as firstCntrctAmt,
        ifnull(date_format(LastCntrctDate, '%Y-%m-%d'),'-') as cntrctDate,
        LastCntrctAmt as thtmCntrctAmt,
        LastCntrctCnt as cntrctCnt,
        id as id,
        checked as checked
        FROM
        daily_contracts_services
        WHERE
        1=1
        and is_selected = 1
        <if test="dminsttNm != null and dminsttNm != ''">
            AND dminsttNm LIKE CONCAT('%', #{dminsttNm}, '%')
        </if>
        <if test="dminsttNmDetail != null and dminsttNmDetail != ''">
            AND dminsttNmDetail LIKE CONCAT('%', #{dminsttNmDetail}, '%')
        </if>
        <if test="prdctClsfcNo != null and prdctClsfcNo != ''">
            AND prdctClsfcNo LIKE CONCAT('%', #{prdctClsfcNo}, '%')
        </if>
        <if test="cntctCnclsMthdNm != null and cntctCnclsMthdNm != ''">
            AND cntctCnclsMthdNm LIKE CONCAT('%', #{cntctCnclsMthdNm}, '%')
        </if>
        <if test="firstCntrctDate != null and firstCntrctDate != ''">
            AND firstCntrctDate = #{firstCntrctDate}
        </if>

        <!-- 계약일자 조건 처리 -->
        <if test="year != null">
            AND YEAR(firstCntrctDate) = #{year}
        </if>
        <if test="month != null and month != ''">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') = #{month}
        </if>
        <if test="rangeStart != null and rangeEnd != null">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') BETWEEN #{rangeStart} AND #{rangeEnd}
        </if>

        <if test="showSavedOnly == 1">
            AND checked = 1
        </if>
        ORDER BY
        firstCntrctDate DESC, id ASC
        LIMIT #{start}, #{length}
    </select>

    <!-- 전체 데이터 개수 조회 -->
    <select id="getServicesSelectedTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            daily_contracts_services
        where
            is_selected = 1
    </select>

    <!-- 검색된 데이터 개수 조회 -->
    <select id="getServicesSelectedFilteredCount" resultType="int">
        SELECT
        COUNT(*)
        FROM
        (
        SELECT
        cmpNm as cmpNm,
        cntrctNm as cntrctNm,
        dminsttNm as dminsttNm,
        dminsttNmDetail as dminsttNmDetail,
        prdctClsfcNo as prdctClsfcNo,
        cntctCnclsMthdNm as cntctCnclsMthdNm,
        ntceNo as ntceNo,
        date_format(firstCntrctDate, '%Y-%m-%-d') as firstCntrctDate,
        firstCntrctAmt as firstCntrctAmt,
        date_format(LastCntrctDate, '%Y-%m-%-d') as cntrctDate,
        LastCntrctAmt as thtmCntrctAmt,
        LastCntrctCnt as cntrctCnt,
        id as id,
        checked as checked
        FROM
        daily_contracts_services
        WHERE
        1=1
        and
            is_selected = 1
        <if test="dminsttNm != null and dminsttNm != ''">
            AND dminsttNm LIKE CONCAT('%', #{dminsttNm}, '%')
        </if>
        <if test="dminsttNmDetail != null and dminsttNmDetail != ''">
            AND dminsttNmDetail LIKE CONCAT('%', #{dminsttNmDetail}, '%')
        </if>
        <if test="prdctClsfcNo != null and prdctClsfcNo != ''">
            AND prdctClsfcNo LIKE CONCAT('%', #{prdctClsfcNo}, '%')
        </if>
        <if test="cntctCnclsMthdNm != null and cntctCnclsMthdNm != ''">
            AND cntctCnclsMthdNm LIKE CONCAT('%', #{cntctCnclsMthdNm}, '%')
        </if>
        <if test="firstCntrctDate != null and firstCntrctDate != ''">
            AND firstCntrctDate = #{firstCntrctDate}
        </if>

        <!-- 계약일자 조건 처리 -->
        <if test="year != null">
            AND YEAR(firstCntrctDate) = #{year}
        </if>
        <if test="month != null and month != ''">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') = #{month}
        </if>
        <if test="rangeStart != null and rangeEnd != null">
            AND DATE_FORMAT(firstCntrctDate, '%Y-%m') BETWEEN #{rangeStart} AND #{rangeEnd}
        </if>

        <if test="showSavedOnly == 1">
            AND checked = 1
        </if>
        ORDER BY
        firstCntrctDate DESC
        ) as T
    </select>

    <update id="updateCheckedThings">
        UPDATE daily_contracts_things
        SET checked = #{checked}
        WHERE id = #{id}
    </update>

    <update id="updateCheckedServices">
        UPDATE daily_contracts_services
        SET checked = #{checked}
        WHERE id = #{id}
    </update>

    <update id="updateCheckedConstructions">
        UPDATE daily_contracts_construction_work
        SET checked = #{checked}
        WHERE id = #{id}
    </update>

    <select id="getUnselectedServicesData" resultType="map">
        SELECT *
        FROM daily_contracts_services
        WHERE is_selected = 0
        <if test="dminsttNm != null and dminsttNm != ''">
            AND dminsttNm = #{dminsttNm}
        </if>
        <if test="dminsttNmDetail != null and dminsttNmDetail != ''">
            AND dminsttNmDetail = #{dminsttNmDetail}
        </if>
        <if test="prdctClsfcNo != null and prdctClsfcNo != ''">
            AND prdctClsfcNo = #{prdctClsfcNo}
        </if>
        <if test="cntctCnclsMthdNm != null and cntctCnclsMthdNm != ''">
            AND cntctCnclsMthdNm = #{cntctCnclsMthdNm}
        </if>
        <if test="firstCntrctDate != null and firstCntrctDate != ''">
            AND firstCntrctDate = #{firstCntrctDate}
        </if>
        ORDER BY id DESC
    </select>

</mapper>
